<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>中国电子学会关于举办2015全国软件化雷达技术大会的通知</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>212</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于对师资博士后进行期满考核的通知</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>181</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>电院关于填写西安电子科技大学教师发展评价问卷的通知</string>
		<key>time</key>
		<date>2015-09-17T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于领取2015年职称外语等级考试合格人员成绩单的通知</string>
		<key>time</key>
		<date>2015-09-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>173</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于职称晋升评审中担任本科生班主任要求的说明</string>
		<key>time</key>
		<date>2015-09-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>301</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>电子工程学院2016年推荐免试硕士研究生接收方案</string>
		<key>time</key>
		<date>2015-09-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1926</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>雷达信号处理国家级重点实验室2015级研究生开学典礼顺利举行</string>
		<key>time</key>
		<date>2015-09-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>422</integer>
	</dict>
</array>
</plist>
