<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>电子工程学院2015年硕博士入学英语免修名单公示</string>
		<key>time</key>
		<date>2015-09-17T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1220</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015级研究生学籍核对的通知</string>
		<key>time</key>
		<date>2015-09-15T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>2071</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015年秋季学期导师发放助研津贴的重要说明</string>
		<key>time</key>
		<date>2015-09-14T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1106</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015年国奖、学业奖学金申请系统填报说明</string>
		<key>time</key>
		<date>2015-09-11T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>4306</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>研究生管理系统（选课系统）问题交流反馈QQ群和邮箱</string>
		<key>time</key>
		<date>2015-09-11T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>537</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015级硕士研究生/博士研究生 新生参加大学生医保的通知</string>
		<key>time</key>
		<date>2015-09-10T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>979</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>温馨提示--关于大学生医保较学生公费医疗的优势</string>
		<key>time</key>
		<date>2015-09-10T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>324</integer>
	</dict>
</array>
</plist>
