<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>欢迎访问《线性代数应用》微课网站－－多位一线教师精彩呈现</string>
		<key>time</key>
		<date>2015-09-19T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>中国振华集团云科电子有限公司招聘简章</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>187</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>华讯方舟2016届西电招聘简章</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>中控集团2016届校园招聘简章</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>143</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>飞思卡尔2016校园招聘</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>155</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>【未来在这里】2016大众点评校园招聘</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>121</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>中国电子学会关于举办2015全国软件化雷达技术大会的通知</string>
		<key>time</key>
		<date>2015-09-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>210</integer>
	</dict>
</array>
</plist>
