<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>西电主页网站可以适应手机访问了！</string>
		<key>time</key>
		<date>2015-03-26T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1036</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于南校区学生宿舍区6M宽带免费体验的通知</string>
		<key>time</key>
		<date>2015-03-09T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1580</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于校园一卡通管理平台升级后使用须知的通知</string>
		<key>time</key>
		<date>2015-03-09T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>959</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于学校新增部分区域无线网络通知</string>
		<key>time</key>
		<date>2015-01-09T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1302</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>有关南校区家属区上网简要说明</string>
		<key>time</key>
		<date>2014-12-27T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>5773</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>中国联通西安分公司网络建设部关于南校区住宅区通信基站问题的说明</string>
		<key>time</key>
		<date>2014-11-18T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>576</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于西电云盘试运行的通知</string>
		<key>time</key>
		<date>2014-11-17T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1323</integer>
	</dict>
</array>
</plist>
