<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>西电财务处各类业务流程手册下载</string>
		<key>time</key>
		<date>2015-05-31T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>757</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于从6月1日起调整科研经费入账手续的通知</string>
		<key>time</key>
		<date>2015-05-30T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1016</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>欢迎关注“西安电子科技大学科学研究院”微信公众平台</string>
		<key>time</key>
		<date>2015-04-04T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1296</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015年3月起研究生科研酬金发放工作变更的通知</string>
		<key>time</key>
		<date>2015-03-04T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>4224</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于开展2016年度陕西省青年科技新星组织推荐工作的通知</string>
		<key>time</key>
		<date>2015-02-15T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1056</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015年度基本科研业务费自由探索类项目申请与资助等有关事项的通告</string>
		<key>time</key>
		<date>2014-12-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1068</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于做好2014年年终财务清理决算工作的通知</string>
		<key>time</key>
		<date>2014-12-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>949</integer>
	</dict>
</array>
</plist>
