<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>欢迎访问《线性代数应用》微课网站－－多位一线教师精彩呈现</string>
		<key>time</key>
		<date>2015-09-19T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>77</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>2015“外研社杯”西安电子科技大学演讲比赛报名
2015“外研社杯”西安电子科技大学演讲比赛报名
2015“外研社杯”西安电子科技大学演讲比赛报名
2015“外研社杯”西安电子科技大学演讲比赛报名</string>
		<key>time</key>
		<date>2015-09-16T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>104</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>2015下学期电子工程学院开设课程补考时间地点安排</string>
		<key>time</key>
		<date>2015-09-14T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>361</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于2015年下学期开展同行评价和青年教师助教工作的通知</string>
		<key>time</key>
		<date>2015-09-14T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>139</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>关于开展2016年度教师教学鉴定工作的通知</string>
		<key>time</key>
		<date>2015-09-14T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>129</integer>
	</dict>
	<dict>
		<key>status</key>
		<false/>
		<key>title</key>
		<string>电院本科2015年下学期课程表2015.9.5更新</string>
		<key>time</key>
		<date>2015-09-06T14:43:44Z</date>
		<key>viewsCount</key>
		<integer>1668</integer>
	</dict>
</array>
</plist>
